<% if (success && success.length > 0) { %>
  <div class="alert alert-success text-center">
    <%= success %>
  </div>
<% } %>

<% if (error && error.length > 0) { %>
  <div class="alert alert-danger text-center">
    <%= error %>
  </div>
<% } %>
