<%- include('partials/_head', { title: 'Página no encontrada' }) %>

<div class="container text-center mt-5">
  <h1>404</h1>
  <p>Página no encontrada</p>
  <a href="/" class="btn btn-primary">Volver al inicio</a>
</div>

<%- include('partials/_foot') %>
